<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="240" height="40" viewBox="0 0 1795 208" fill="none">
                    <path d="M170.823 176.348C156.829 190.658 138.999 200.402 119.588 204.35C100.177 208.298 80.0569 206.272 61.7723 198.528C43.4877 190.784 27.8595 177.67 16.8641 160.844C5.86876 144.018 1.21891e-06 124.236 0 104C-1.21891e-06 83.7637 5.86876 63.9818 16.8641 47.156C27.8595 30.3302 43.4877 17.216 61.7723 9.47196C80.0569 1.72788 100.177 -0.298324 119.588 3.64957C138.999 7.59747 156.829 17.3421 170.823 31.6513L111.378 92.4331C109.141 90.1454 106.29 88.5875 103.187 87.9563C100.084 87.3252 96.8669 87.6491 93.9436 88.8872C91.0204 90.1253 88.5218 92.2219 86.7639 94.912C85.006 97.602 84.0678 100.765 84.0678 104C84.0678 107.235 85.006 110.398 86.7639 113.088C88.5218 115.778 91.0204 117.875 93.9436 119.113C96.8669 120.351 100.084 120.675 103.187 120.043C106.29 119.412 109.141 117.854 111.378 115.567L170.823 176.348Z" fill="#01CD74" />
                    <rect width="133.657" height="85.9223" transform="matrix(0.699201 0.714926 -0.699201 0.714926 180.912 40.2925)" fill="#001D10" />
                    <rect width="133.657" height="85.9223" transform="matrix(0.699201 -0.714926 0.699201 0.714926 154.878 136.098)" fill="#3C8666" />
                    <rect width="133.657" height="85.9223" transform="matrix(-0.699201 -0.714926 0.699201 -0.714925 281.708 197.526)" fill="#91DEBD" />
                    <rect width="133.657" height="85.9223" transform="matrix(0.699201 -0.714926 0.699201 0.714926 221.631 136.098)" fill="#E4F2E7" />
                    <path d="M481.995 194.228C460.778 194.228 445.017 187.105 434.711 172.859C424.557 158.462 419.48 138.229 419.48 112.162C419.48 86.0954 424.557 65.9389 434.711 51.693C445.017 37.2955 460.778 30.0968 481.995 30.0968C490.179 30.0968 497.378 31.2334 503.592 33.5067C509.957 35.6284 515.413 38.6595 519.959 42.5999C524.506 46.5402 528.219 51.3141 531.098 56.9215C534.129 62.529 536.479 68.8184 538.146 75.7898L506.32 83.519C505.41 79.7302 504.349 76.2445 503.137 73.0619C501.925 69.8793 500.333 67.1513 498.363 64.878C496.544 62.6048 494.195 60.8619 491.316 59.6495C488.588 58.2855 485.254 57.6035 481.313 57.6035C472.069 57.6035 465.476 61.2408 461.536 68.5153C457.747 75.6383 455.853 85.5649 455.853 98.2953V126.029C455.853 138.76 457.747 148.762 461.536 156.037C465.476 163.16 472.069 166.721 481.313 166.721C489.194 166.721 494.877 164.296 498.363 159.447C502 154.597 504.653 148.383 506.32 140.806L538.146 148.535C536.479 155.506 534.129 161.796 531.098 167.403C528.219 173.011 524.506 177.86 519.959 181.952C515.413 185.893 509.957 188.924 503.592 191.045C497.378 193.167 490.179 194.228 481.995 194.228ZM567.382 191.5V32.8247H601.709V163.539H669.907V191.5H567.382ZM750.975 194.228C729.757 194.228 714.072 187.029 703.918 172.632C693.915 158.234 688.914 138.078 688.914 112.162C688.914 86.2469 693.915 66.0905 703.918 51.693C714.072 37.2955 729.757 30.0968 750.975 30.0968C772.192 30.0968 787.802 37.2955 797.804 51.693C807.958 66.0905 813.035 86.2469 813.035 112.162C813.035 138.078 807.958 158.234 797.804 172.632C787.802 187.029 772.192 194.228 750.975 194.228ZM750.975 166.721C760.674 166.721 767.342 163.16 770.98 156.037C774.768 148.762 776.663 138.684 776.663 125.802V98.2953C776.663 85.5649 774.768 75.6383 770.98 68.5153C767.342 61.2408 760.674 57.6035 750.975 57.6035C741.275 57.6035 734.531 61.2408 730.743 68.5153C727.105 75.6383 725.287 85.5649 725.287 98.2953V126.029C725.287 138.76 727.105 148.762 730.743 156.037C734.531 163.16 741.275 166.721 750.975 166.721ZM884.782 194.228C871.446 194.228 859.852 192.03 850.001 187.635C840.15 183.24 832.194 177.254 826.132 169.676L845.909 147.853C851.668 154.218 857.958 158.916 864.777 161.947C871.749 164.978 878.796 166.494 885.919 166.494C894.103 166.494 900.317 164.675 904.56 161.038C908.803 157.401 910.925 152.172 910.925 145.352C910.925 139.745 909.258 135.501 905.924 132.622C902.741 129.742 897.285 127.696 889.556 126.484L872.961 123.756C858.715 121.331 848.41 116.103 842.045 108.07C835.679 99.8866 832.497 89.9599 832.497 78.2904C832.497 62.9836 837.498 51.1626 847.501 42.8272C857.503 34.3402 871.522 30.0968 889.556 30.0968C901.832 30.0968 912.516 31.9912 921.61 35.78C930.703 39.5688 938.053 44.7216 943.66 51.2383L924.338 72.8345C920.094 68.1364 915.093 64.4992 909.334 61.9228C903.575 59.1948 897.058 57.8309 889.784 57.8309C874.477 57.8309 866.823 64.1203 866.823 76.6991C866.823 82.155 868.491 86.2469 871.825 88.9749C875.31 91.7028 880.918 93.7488 888.647 95.1127L905.242 98.068C918.124 100.341 928.051 105.191 935.022 112.617C941.993 120.043 945.479 130.046 945.479 142.624C945.479 150.05 944.191 156.946 941.615 163.311C939.038 169.525 935.174 174.981 930.021 179.679C924.868 184.225 918.503 187.787 910.925 190.363C903.499 192.94 894.785 194.228 884.782 194.228ZM973.579 191.5V32.8247H1074.97V60.7861H1007.68V97.1587H1072.69V125.12H1007.68V163.539H1074.97V191.5H973.579ZM1103.98 191.5L1094.2 32.8247H1123.53L1128.07 127.848L1129.44 157.855H1131.48L1145.12 67.3787H1175.81L1189.45 157.855H1191.5L1192.86 128.757L1197.41 32.8247H1225.6L1215.82 191.5H1172.63L1161.04 103.979H1158.76L1147.17 191.5H1103.98ZM1326.9 191.5L1316.89 153.309H1273.47L1263.7 191.5H1229.15L1272.11 32.8247H1320.3L1363.27 191.5H1326.9ZM1296.21 65.7874H1294.39L1278.93 125.802H1311.67L1296.21 65.7874ZM1449.57 60.7861V191.5H1415.47V60.7861H1369.77V32.8247H1495.26V60.7861H1449.57ZM1572.46 194.228C1551.24 194.228 1535.48 187.105 1525.18 172.859C1515.02 158.462 1509.95 138.229 1509.95 112.162C1509.95 86.0954 1515.02 65.9389 1525.18 51.693C1535.48 37.2955 1551.24 30.0968 1572.46 30.0968C1580.65 30.0968 1587.84 31.2334 1594.06 33.5067C1600.42 35.6284 1605.88 38.6595 1610.43 42.5999C1614.97 46.5402 1618.69 51.3141 1621.56 56.9215C1624.6 62.529 1626.94 68.8184 1628.61 75.7898L1596.79 83.519C1595.88 79.7302 1594.82 76.2445 1593.6 73.0619C1592.39 69.8793 1590.8 67.1513 1588.83 64.878C1587.01 62.6048 1584.66 60.8619 1581.78 59.6495C1579.05 58.2855 1575.72 57.6035 1571.78 57.6035C1562.53 57.6035 1555.94 61.2408 1552 68.5153C1548.21 75.6383 1546.32 85.5649 1546.32 98.2953V126.029C1546.32 138.76 1548.21 148.762 1552 156.037C1555.94 163.16 1562.53 166.721 1571.78 166.721C1579.66 166.721 1585.34 164.296 1588.83 159.447C1592.47 154.597 1595.12 148.383 1596.79 140.806L1628.61 148.535C1626.94 155.506 1624.6 161.796 1621.56 167.403C1618.69 173.011 1614.97 177.86 1610.43 181.952C1605.88 185.893 1600.42 188.924 1594.06 191.045C1587.84 193.167 1580.65 194.228 1572.46 194.228ZM1725.14 125.12H1685.13V191.5H1650.8V32.8247H1685.13V97.1587H1725.14V32.8247H1759.46V191.5H1725.14V125.12Z" fill="#2D3E40" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" asp-action="SignUp">Üye Ol</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-item nav-link" asp-action="LogIn">Giriş yap</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:10px;">

        @RenderBody()
    </div>
</body>
</html>